body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(59, 112, 228)
}

.nav-bar>*{
  display: inline;
}

.main-container{
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;

}


.sidebar{
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: aliceblue;
  float: left;
  clip: auto;
  transition: 0.3s;
}

.sidebar.collapsed{
  width: 40px;
}

.main {
  float:left;
  clip: auto;

}



